body{
    background:#f3f3f3;
    color:#333;
    font-family:sans-serif;
    margin:0;
}

/* HEADER */
.header{
    width:90%;
    margin:20px auto 10px auto;
    height:100px;
    line-height:100px;
    background:#4f79a1;
    color:#fff;
    font-size:18px;
}

/* SPACING DALAM */
.jarak{
    padding:0 20px;
}

/* MENU */
.menu{
    background-color:#4f79a1;
    height:45px;
    line-height:45px;
    width:90%;
    margin:0 auto 20px auto;
}

.menu ul{
    list-style:none;
    margin:0;
    padding:0;
}

.menu ul li a{
    float:left;
    width:80px;
    text-align:center;
    color:#1a00ff;
    text-decoration:none;
    font-size:14px;
}

.menu ul li a:hover{
    background:#5f8db8;
}

/* CONTENT AREA */
.content{
    width:90%;
    margin:auto;
    background:#e9e9e9;
    padding:20px 0;
    overflow:hidden;
}

/* KIRI */
.kiri{
    width:65%;
    float:left;
}

/* KANAN */
.kanan{
    width:30%;
    float:right;
}

/* BOX */
.border{
    border:2px solid #4f79a1;
    background:#eee;
    margin-bottom:20px;
    padding:15px;
}

/* TEXT */
h3{
    margin-top:0;
}

/* BUTTON */
button{
    margin-top:10px;
    padding:3px 8px;
    font-size:12px;
}

/* CATEGORY LINK */
.undecor{
    text-decoration:none;
    color:#1a00ff;
}

/* FOOTER */
.footer{
    width:90%;
    margin:20px auto;
    height:40px;
    line-height:40px;
    background:#4f79a1;
    color:#fff;
    clear:both;
}
